.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-profile-back {
  margin-bottom: 25px;
  /* padding: 5px 30px !important; */
  background-color: #f1cebe !important;
  border: none !important;
  color: black !important;
}


.button{
  padding: 5px 10px;
  background-color: #ecc0ab  !important;
  border: none !important;
  color: black;
  margin: 0 auto;
  margin-top: 35px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.img-box {
  padding: 11px;
  padding-top: 11px;
}

.login {
  position: fixed !important;
  padding: 0px;
  background: url("https://shorelinecommunitychurch.files.wordpress.com/2015/09/wedding-rings6.gif?w=1024");
  background-attachment: fixed;
  background-repeat: no-repeate;
  height: 100%;
  margin: 0 auto;
}

#contact {
  background-color:  #eadecc;
}
#contact .contact-white {
  margin-top: 50px;
  border-radius: 10px;
  width: 60%;
  margin: 50px auto;
  background-color: #fff;
  padding: 25px 35px;
}
#contact .contact-white h3 {
  padding-bottom: 20px;
}
#contact input,
#contact textarea {
  border: 1px solid #707070;
}
#contact textarea {
  resize: none;
}
#contact .mysubmit {
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #707070;
  padding: 10px 90px;
  font-size: 18px;
}
#contact .mysubmit:focus {
  box-shadow: none;
}
#contact ::placeholder {
  color: #4c4a47;
}

@media (max-width: 767px) {
  #contact .contact-white {
    width: 90% !important;
  }
}

@media (max-width: 764px) {
  .custom_width {
    width: 220% !important;
  }
}

.bg-cover {
  background-size: cover !important;
}

tr > td {
  vertical-align: middle !important;
}

select {
  border: 1px solid #707070 !important;
}

.img-fluid {
  width: 100% !important;
  max-height: auto;
}

#search {
  margin-top: 55px;
}

#vendors {
  margin-top: 85px;
}

.label-info {
  background-color: #5bc0de;
}

.btn {
  padding: 0.375rem;
}

@media (min-width: 700px) {
  .right-panel-profile {
    left: 33.3333%;
  }
  .left-panel-profile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  .stuck {
    position: fixed;
    z-index: 10;
    
  }

  .stuck p {
    margin: 10px;
  }

  .not-stuck {
    margin-left: 224px;
  }

  #vendor2 .right-content {
    padding: 50px 65px;
  }
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.card {
  height: auto;
  border-radius: 15px !important;
  /* background-color: rgba(0, 0, 0, 0.4) !important; */
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  /* overflow-y: auto; */
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  /* background-color: rgba(0, 0, 0, 0.3) !important; */
  border: 0 !important;
  color: black !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  /* background-color: rgba(0, 0, 0, 0.3) !important; */
  border: 0 !important;
  color: black !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  /* background-color: rgba(0, 0, 0, 0.3) !important; */
  border: 0 !important;
  color: black !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
  cursor: pointer;
}
.contacts li .active {
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span {
  font-size: 15px;
  color: black;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
.form-group-mb-0 {
  margin-bottom: 0px;
}
.form-group-mb-0 > .form-control {
  text-align: center
}
.inbox_people {
	background: #fff none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 100%;
	border-right: 1px solid #c4c4c4;
}
.inbox_msg {
	border: 1px solid #c4c4c4;
	clear: both;
	overflow: hidden;
}
.top_spac {
	margin: 20px 0 0;
}
.recent_heading {
	float: left;
	width: 40%;
}
.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}
.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}
.recent_heading h4 {
	color: #05728f;
	font-size: 21px;
	margin: auto;
}
.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}
.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
	text-align: left;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto;
	text-align: left;
}

.chat_img {
	float: left;
	height: 25px;
	background: #f29e9e;
	font-size: 16px;
	border-radius: 50px;
	width: 185px;
}
.vendor {
	background: #b2bfe4;
	margin-right: 15px;
}
.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}
.chat_people {
	overflow: hidden;
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}
.inbox_chat {
	height: 595px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #b2bfe4 none repeat scroll 0 0;
	border-radius: 50px;
	color: #000;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
	text-align: left;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
	text-align: left;
}

.received_withd_msg {
	width: 57%;
}

.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 100%;
	background: #fff;
}

.sent_msg p {
	background: #f29e9e none repeat scroll 0 0;
	border-radius: 520px;
	font-size: 14px;
	margin: 0;
	color: #000;
	padding: 5px 10px 5px 12px;
	width: 100%;
	text-align: left;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #f29e9e none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 100%;
	position: absolute;
	right: 0;
	width: 50px;
	border: 1px solid #707070;
}

.messaging {
	padding: 0 0 0 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

span.circ {
	background: #f29e9e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0 9px;
}

.shape {
	height: 35px;
	background: #a2a2a2;
	border-radius: 10px 10px 0 0;
	padding-top: 8px;
}

@media(max-width: 567px) {
	.inbox_people {
		width: 100%;
		margin-bottom: 20px;
	}
	.inbox_chat {
		height: auto;
	}
	.mesgs {
		width: 100%;
	}
	.mesgs {
		padding: 15px 15px 0 10px;
	}
	.shape {
		background: transparent;
	}
}


.facebookButton {
  margin: 0 auto;
  text-align: center;
  color:white;
  background-color: #094789;
  border-color: #fff;
  border: 1px solid #707070;
  padding: 4px 0;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase
}

.googleButton {
  margin: 0 auto;
  text-align: center;
  color:black !important;
  background-color: #DB4C3F !important;
  border-color: #fff !important; 
  border: 1px solid #DB4C3F !important; 
  padding: 4px 0;
  font-size: 12px;
  width: 100%;
  margin-top:10px;
  text-transform: uppercase
}

.googleButton:hover {
  color: white !important;
}

.profileGallery {
  display: inline !important;
  margin-right: 35px; 
  font-size: 12px;
  color: black !important;
  cursor: pointer !important;
}
.profileGallery:hover {
  font-size: 13px !important;
  margin-left: -2px !important;
  margin-right: -2px !important;  
}

.profileInfo {
  display: inline !important;
  margin-right: 35px; 
  font-size: 12px;
  color: black !important;
  cursor: pointer !important;
}
.profileInfo:hover {
  font-size: 13px !important;
  margin-left: -2px !important;  
}

.profilemsgBtn {
  margin-top:12.5px !important;
  margin-left:-1px !important;
  font-size: 12px !important;
  height: 30px !important;
  width: 100px !important;
  border-radius:8px !important; 
  background-color: #1F1E1E !important;
}

.profilemsgBtn:hover {
  background-color:  #1d1c1ce0 !important;
}

.navvLink {
 
}

.navvLink:hover {
  color: rgb(136, 130, 130) !important;
  padding-left: -3px !important;
  padding-right: -3px !important;
  font-size: 16px !important;

}

.authTextLg {
  margin-bottom: 1rem ;
  margin-top:1rem; 
  font-size: 15px;
}
.authTextLg:hover {
  display: inline;
  margin-left: -5px;
  margin-right: -5px;
  font-size: 16px;
}

.authTextSm {
  margin-bottom: 1rem;
  font-size: 11px;
}
.authTextSm:hover {
  display: inline;
  margin-left: -4px;
  margin-right: -4px;
  font-size: 13px;
}


.authTextReg{
  margin-top:10px; 
  font-size: 13px;
}
.authTextReg:hover {
  margin-left: -4px;
  margin-right: -4px;
  font-size: 14px;
}

.slider {
}

.slider:hover {
  margin-top: -7px !important;
  background: rgba(228, 161, 161, 0.692) !important;
}